.container {
    min-height: 80vh;
    height: 100%;
    margin: 0 auto;
    background: #fff;
    .table-container{
        height: 400px;
        overflow-y: auto;
        margin-top: 30px;
    }
    table,
    tr,
    td,
    th {
        border: 1px solid black;
    }
    table {
        width: 100%;
        height: 400px;
        border-collapse: collapse;
        margin-top: 20px;
        td,
        th {
            padding: 5px 10px;
        }
        .table-btn {
            border-width: 0;
            color: blue;
            &:first-child {
                border-right: 1px solid;
            }
            &:hover {
                opacity: 0.8;
            }
        }
    }
}
